body {
      font: 20px "Century Gothic", Futura, sans-serif;
      margin-left:  100px;
      background-color: #14eb4aa4;
}

ol,
ul {
      padding-left: 30px;
}

.board-row:after {
      clear: both;
      content: "";
      display: table;
}

.status {
      margin-bottom: 10px;
}

.square {
      background: #fff;
      border: 2px solid #999;
      float: left;
      font-size: 36px;
      font-weight: bold;
      line-height: 34px;
      height: 100px;
      margin-right: -1px;
      margin-top: -1px;
      padding: 0;
      text-align: center;
      width: 100px;
      box-shadow: 2px 2px 10px #000;
}

.square:focus {
      outline: none;
}

.kbd-navigation .square:focus {
      background: #ddd;
}

.game {
      display: flex;
      flex-direction: row;
}

.game-info {
      margin-left: 20px;
}
